### 
### This file is maintained by Ansible - CHANGES WILL BE OVERWRITTEN
###

[Unit]
Description=rustus server for {{ item.name }}
After={{ rustus_systemd_target }}

[Service]
UMask=022
Type=simple
User={{ item.user }}
Group={{ item.group }}
TimeoutStartSec=10
ExecStart={{ rustus_path }} {{ item.args | join(' ') }}
Restart=always

[Install]
WantedBy=multi-user.target
